/* 通用型 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    width: 20%;
    height: 2m;
    min-width: 6em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 1em auto;
    border: 2px solid rgba(255, 58, 134, 0.4);
    border-radius: 10px;
}

a:hover {
    border: 2px solid rgba(255, 58, 134, 0.8);
}

.circular {
    border-radius: 100%;
}

#front {
    /* background-image: url(../images/IPhone6S_RoseGold-1.png);*/
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    min-width: 300px;
    height: 600px;
    border: 0;
    float: left;
}

#back {
    /*    background-image: url(../images/IPhone6S_RoseGold-2.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    min-width: 300px;
    height: 600px;
    border: 0;
    float: left;
}

.outline {
    border: 3px solid rgb(255, 58, 134);
    border-radius: 40px;
    height: 555px;
    width: 272px;
    margin: 0 auto;
    position: relative;
    top: 23px;
    left: 1px;
    background: linear-gradient(60deg, #aaa5a5, #ffffff, #ffffff, #b7b7b7);
    background: -webkit-linear-gradient(60deg, #aaa5a5, #ffffff, #ffffff, #b7b7b7);
    background: -moz-linear-gradient(60deg, #aaa5a5, #ffffff, #ffffff, #b7b7b7);
}


/* 元件-正面 */

.front-item1 {
    border: 2px solid #393939;
    height: 0.5em;
    width: 0.5em;
    position: absolute;
    top: 13px;
    left: 129px;
    background-color: #000;
}

.front-item2 {
    border: 2px solid #393939;
    height: 0.6em;
    width: 0.6em;
    position: absolute;
    top: 5.5%;
    left: 32.1%;
    background-color: #000;
}

.front-item3 {
    border: 2px solid #393939;
    border-radius: 25px;
    height: 0.4em;
    width: 2.7em;
    position: absolute;
    top: 5.8%;
    left: 42%;
    background-color: #000;
}

.screen {
    border: 2px solid #393939;
    border-radius: 5px;
    height: 26.6em;
    width: 15.1em;
    position: absolute;
    top: 11.7%;
    left: 5.1%;
    background: linear-gradient(40deg, #000000, #080808, #f2f2f2);
    background: -webkit-linear-gradient(40deg, #000000, #080808, #f2f2f2);
    background: -moz-linear-gradient(40deg, #000000, #080808, #f2f2f2);
}

.home-button {
    border: 2px solid #656565;
    height: 2.7em;
    width: 2.7em;
    position: absolute;
    bottom: 1.6%;
    left: 42%;
    text-align: center;
    line-height: 3.3em;
    color: #626262;
}


/* 元件-背面 */

.sec-top {
    border-radius: 30px 30px 5px 5px;
    height: 2.2em;
    width: 95%;
    position: absolute;
    top: 7px;
    left: 8px;
    background: linear-gradient(60deg, #D2A9A5, #EFC9C5, #F9DAD5);
}

.top-item1 {
    border: 3px solid #757e45;
    height: 1.8em;
    width: 1.8em;
    position: absolute;
    top: 10%;
    left: 10.5%;
    background-color: #000;
}

.top-item2 {
    border: 2px solid #393939;
    height: 0.5em;
    width: 0.5em;
    position: absolute;
    top: 39%;
    left: 24%;
    background-color: #000;
}

.top-item3 {
    border: 1px solid #555;
    height: 1.1em;
    width: 1.1em;
    position: absolute;
    top: 25%;
    left: 30%;
    background: radial-gradient(#ffff20, rgba(254, 255, 216, 0.9), rgba(255, 255, 31, 0.7), #ffff00);
    background: -webkit-radial-gradient(#ffff20, rgba(254, 255, 216, 0.9), rgba(255, 255, 31, 0.7), #ffff00);
    background: -moz-radial-gradient(#ffff20, rgba(254, 255, 216, 0.9), rgba(255, 255, 31, 0.7), #ffff00);
}

.sec-middle {
    height: 82%;
    width: 100%;
    position: absolute;
    top: 50px;
    background: linear-gradient(60deg, #BD948E, #DDB5B0, #FADBD6);
}

.sec-middle img {
    display: block;
    margin: 25% auto;
    width: 21%;
    height: auto;
}

.sec-middle p {
    font-family: sans-serif;
    font-size: 1.1em;
    color: #462734;
    text-align: center;
    display: block;
    margin-top: 80%;
}

.sec-bottom {
    border-radius: 5px 5px 30px 30px;
    height: 2.2em;
    width: 95%;
    position: absolute;
    bottom: 7px;
    left: 8px;
    background: linear-gradient(60deg, #BC918B, #D1A8A2);
    background: -webkit-linear-gradient(60deg, #BC918B, #D1A8A2);
    background: -moz-linear-gradient(60deg, #BC918B, #D1A8A2);
}


/* 側邊按鍵 */

.btn1 {
    border: 1px solid rgb(255, 58, 134);
    height: 1.4em;
    width: 0.3em;
    position: absolute;
    top: 12.7%;
}

.btn2 {
    border: 1px solid rgb(255, 58, 134);
    height: 2.6em;
    width: 0.3em;
    position: absolute;
    top: 21.3%;
}

.btn3 {
    border: 1px solid rgb(255, 58, 134);
    height: 2.6em;
    width: 0.3em;
    position: absolute;
    top: 30.6%;
}

.power {
    border: 1px solid rgb(255, 58, 134);
    height: 2.6em;
    width: 0.3em;
    position: absolute;
    top: 21.3%;
}

.front-btn {
    border-radius: 3px 0 0 3px;
    left: -2%;
}

.front-power {
    border-radius: 0 3px 3px 0;
    right: -2%;
}

.back-btn {
    border-radius: 0 3px 3px 0;
    right: -2%;
}

.back-power {
    border-radius: 3px 0 0 3px;
    left: -2%;
}
