.thumbnail img {
    width: 300px;
}

.center {
    text-align: center;
}

.btn {
    width: 100px;
    height: 50px;
}

.container>a {
    display: block;
    width: 20%;
    height: 2m;
    min-width: 6em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 1em auto;
    border: 2px solid rgba(79, 116, 216, 0.62);
    border-radius: 10px;
}

.container>a:hover {
    border: 2px solid rgba(101, 222, 72, 0.8);
}
