* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border: 1px solid #000;
    margin: 20px;
    padding: 0;
}

th {
    border: 1px solid #0F0;
    height: 60px;
    width: 100px;
    background-color: #ccc;
}

thead {
    position: fixed;
    z-index: 0;
}

td {
    border: 1px solid #F00;
    height: 50px;
    width: 100px;
}
